.image-max-height {
  max-height: 500px;
  width: auto;
}

.film-background {
  background-size: cover;
  background-position: center;
}

.progress-max-width {
  max-width: 200px;
}

.dot-margin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.actor-image {
  width: 100%;
  height: auto;
}

.actor-card {
  width: 125px;
  height: auto;
  margin-right: 10px;
}

.custom-text-actor {
  font-size: 0.7rem;
  font-weight: bold;
}

.custom-text-character {
  font-size: 0.7rem;
  font-weight: lighter;
}
