<section id="synopsis-card-section">
    <h2>Film Info</h2>
<p>Year Released: {{synopsisCard.year}}</p>
<p id="synopsis">{{synopsisCard.overview}}</p>

</section>

<div class="card mb-3">
<img src={{synopsisCard.image}} class="card-img-bottom" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{synopsisCard.title}}</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>
  
