.image-max-height {
  max-height: 500px;
  width: auto;
}

.film-background {
  background-size: cover;
  background-position: center;
}

.progress-max-width {
  max-width: 200px;
}

.dot-margin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.actor-image {
  width: 100%;
  height: auto;
}

.actor-card {
  width: 125px;
  height: auto;
  margin-right: 10px;
}

.custom-text-actor {
  font-size: 0.7rem;
  font-weight: bold;
}

.custom-text-character {
  font-size: 0.7rem;
  font-weight: lighter;
}

.icon-size {
  font-size: 14px;
}

.icon-buttons {
  background-color: darkgreen;
  color: white;
  border: 2px solid darkgreen;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.icon-buttons:hover {
  box-shadow: 0 0 10px rgba(0, 100, 0, 0.5);
}

.custom-text {
  color: black;
}
