h1 {
    margin: 2rem;
    color: white;
    text-decoration: none
}

a{
    text-decoration: none;
}

/* header {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    justify-items: center;
} */