<h2 style="margin-bottom: 2rem; margin-top: 6rem;" class="d-flex justify-content-center">Your Film Journal</h2>

<div
  class="btn-group, d-flex justify-content-center"
  role="group"
  aria-label="Basic checkbox toggle button group"
>
  <input
    type="checkbox"
    class="btn-check"
    id="btncheck1"
    autocomplete="off"
    (change)="onWatchedChange($event)"
  />
  <label class="btn btn-outline-success" for="btncheck1">Watched</label>

  <input
    type="checkbox"
    class="btn-check"
    id="btncheck3"
    autocomplete="off"
    (change)="onAllChange($event)"
  />
  <label class="btn btn-outline-success" for="btncheck3">All</label>
</div>

<div class="grid gap-3 d-flex justify-content-center">
  <ul *ngIf="watchStatus || !watchedUnchecked || allChecked">
    <app-film-card 
      class="p-2 g-col-6"
      *ngFor="let filmCard of filmCards"
      [filmCard]="filmCard"
    ></app-film-card>
  </ul>
</div>
