<div class="container-fluid mt-1">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
  <h3 style="margin-top: 8rem; text-align: center;">What's popular right now?</h3>
    <div class="carousel-inner" style="margin-top: 4rem;">
      <div
        class="carousel-item"
        *ngFor="let filmCardGroup of chunkedFilmCards; let i = index"
        [ngClass]="{ active: isItemActive(i) }"
      >
        <div class="row d-flex justify-content-center g-0">
          <ng-container *ngFor="let card of filmCardGroup">
            <div [ngClass]="getColumnClass()">
              <app-film-card [filmCard]="card"></app-film-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
