<section>

    <!-- <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i> -->
          <form class="search" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <input  id="searchTerm" class="form-control"  formControlName="searchTerm" placeholder="Search for a film e.g. Shrek">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <!-- </div>      
      </div>   
    </div> -->
  </section>
