<div class="row height d-flex justify-content-center align-items-center">
  <div class="col-md-8">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          id="searchTerm"
          class="form-control"
          formControlName="searchTerm"
          placeholder="Search for a film e.g. Shrek"
          required
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
