<div class="container-fluid justify-content-center">
  <div class="row">
    <div class="col">
      <p class="h6 text-start">Rating: {{ filmCard.avgRating }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a routerLink="/film/{{ filmCard.id }}" class="text-decoration-none fs-6">
        <h6>{{ filmCard.title }}</h6>
      </a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col text-center">
      <a routerLink="/film/{{ filmCard.id }}">
        <img
          src="{{ filmCard.img }}"
          class="img-fluid max-img-height"
          alt="Picture of {{ filmCard.title }}"
        />
      </a>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col d-flex justify-content-end">
      <button
        class="btn"
        [ngClass]="{
          'btn-outline-primary': !watched,
          'btn-outline-success': watched
        }"
        (click)="toggleWatched()"
      >
        <ng-container *ngIf="watched; else notWatched">
          <i class="bi bi-eye-slash"></i>
        </ng-container>
        <ng-template #notWatched>
          <i class="bi bi-eye"></i>
        </ng-template>
      </button>
    </div>

    <div class="col d-flex justify-content-center">
      <button
        class="btn"
        [ngClass]="{
          'btn-outline-primary': !watchlisted,
          'btn-outline-success': watchlisted
        }"
        (click)="toggleWatchlisted()"
      >
        <ng-container *ngIf="watchlisted; else notWatchListed">
          <i class="bi bi-plus-lg"></i>
        </ng-container>
        <ng-template #notWatchListed>
          <i class="bi bi-plus-lg"></i>
        </ng-template>
      </button>
    </div>

    <div class="col d-flex justify-content-start">
      <button class="btn btn-outline-primary">
        <i class="bi bi-pencil"></i>
      </button>
    </div>
  </div>
</div>
