.max-img-height {
  width: auto;
  height: 250px;
}

.image-hover-effect:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease, border 0.3s ease; /* Smooth transition effect for both box-shadow and border */
}
