<div class="container-fluid">

  <div class="header-container">
    <app-nav-bar-drawer class="card1"/>
    <app-header class="card2">
    </app-header>
  </div>
  <div class="container-fluid mt-2">
    <main>

  <div class="container mb-1">
    <app-nav-bar-drawer></app-nav-bar-drawer>
  </div>
  <!-- 
  <div>
    <app-header></app-header>
  </div> -->

  <!-- <div class="container-xl">
    <app-search-bar></app-search-bar>
  </div> -->

  <div class="container-xl">
    <main class="main-spacing">

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
