.header-container {
    display: grid; 
  grid-template-columns: 1fr 4fr; 
  grid-template-rows: 1.5fr; 
  gap: 1% 1%; 
  grid-template-areas: 
    "card1 card2"; 
}

.card2 {
    grid-area: card2;
}

.card1 {
    grid-area: card1;
}