.button-spacing {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
