<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><img src="../../../../assets/logo.png" alt="BigFilmFreakz"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" routerLink="#">Friends</a>
        <a class="nav-link" routerLink="#">Watchlist</a>
        <a class="nav-link" routerLink="#">Watchparty</a>
      </div>

      <ng-container *ngIf="!isLoggedIn()">
        <button
          routerLink="/login"
          class="btn btn-sm btn-success border button-spacing"
        >
          Login
        </button>
        <button
          routerLink="/signup"
          class="btn btn-sm btn-success border button-spacing"
        >
          Sign Up
        </button>
      </ng-container>

      <ng-container *ngIf="isLoggedIn()">
        <img
          src="{{ getAvatar() }}"
          alt="{{ getUsername() }} user image"
          class="avatar"
        />
        <span class="text-light button-spacing"
          >User: <strong>{{ getUsername() }}</strong>
        </span>
        <button
          (click)="logout()"
          class="btn btn-sm btn-danger border button-spacing"
        >
          Logout
        </button>
      </ng-container>

      <app-search-bar></app-search-bar>
    </div>
  </div>
</nav>
